body{
  font-family: Courier New;
}
header > ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
header > ul > li > a{
  text-decoration: none;
  color: #000000;
}
.logo{
  position: relative;
  top: 18.1px;
  }
.socialMedia{
display: flex;
flex-direction: row;
justify-content:center;
}
.socialMedia > a > img{
  height: 35px;
  margin: 5px;

}
.followUs{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 32%;
}
footer > p{
  text-align: right;
  margin-right: 10px;
}
.biglogo
{
  display: flex;
  justify-content: center;
  
}